body{
    background-color: gray;
}
#block{
    display: flex;
    justify-content: center;
}
#block h1{
    font-size: 50px;
    font-style: italic;
}
#timer{
    display: flex;
    height: 200px;
    width: 80%;
    margin: 0 auto;
    background-color:gray;
}
#timer div{
    display: flex;
    height: 180px;
    width: 15%;
    border-radius: 15px;
    margin: auto;
    font-size: 90px;
    line-height:170px;
    justify-content: center;
    background-color: azure;
    color: darkblue;
}